{
    "env": {
        "browser": true,
        "es6": true
    },
    "root": true,
    "parserOptions": {
        "project": "jsconfig.json",
        "jsconfigRootDir": "."
    },
    "plugins": ["prettier", "import"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto",
                "arrowParens": "avoid"
            }
        ],
        "semi": "off",
        "@typescript-eslint/semi": ["warn"],
        "@typescript-eslint/no-empty-interface": [
            "error",
            {
                "allowSingleExtends": true
            }
        ],
        "@typescript-eslint/no-empty-function": [
            "error",
            { "allow": ["arrowFunctions"] }
        ],
        "import/no-absolute-path": "error",
        "import/no-useless-path-segments": ["warn", { "noUselessIndex": true }],
        "import/no-deprecated": "warn",
        "import/no-unresolved": "off",
        "import/first": "error",
        "import/extensions": ["warn", "never", { "svg": "always" }],
        "import/newline-after-import": "warn",
        "import/order": [
            "warn",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ]
            }
        ]
    },
    "extends": [
        "react-app",
        "prettier",
        "eslint:recommended",
        "plugin:import/errors"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["react-project-kitchen-frontend"]
            }
        }
    }
}
