@import "styles";

.Button {
    $this: &;
    @include text-default;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    height: 40px;
    width: max-content;
    color: $color-bg-primary;
    background-color: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 8px;
    outline: transparent;
    transition: all 0.15s;
    cursor: pointer;

    &__Primary {
        color: $color-bg-primary;
    }

    &__Danger {
        color: $color-alert;
        background-color: transparent;
        border: 1px solid $color-alert;
    }

    &:hover {
        box-shadow: $shadow-hover;
    }

    &#{$this}__disabled {
        color: $color-disabled;
        background-color: $color-devider;
        border-color: $color-devider;
        cursor: default;

        &:hover {
            color: $color-disabled;
            background-color: $color-devider;
            border-color: $color-devider;
            box-shadow: none;
        }
    }
}

.Text {
    margin-left: 13px;
}
