@import "styles";

.Button {
    $this: &;
    padding: 8px 16px;
    height: 40px;
    width: max-content;
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 8px;
    outline: transparent;
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 255, 0.12),
            0 2px 8px rgba(0, 0, 255, 0.24), 0 0 4px rgba(0, 0, 255, 0.48);
    }

    &#{$this}__disabled {
        color: $color-disabled;
        background-color: $color-bg-disabled;
        border-color: $color-bg-disabled;
        cursor: default;

        &:hover {
            color: $color-disabled;
            background-color: $color-bg-disabled;
            border-color: $color-bg-disabled;
            box-shadow: none;
        }
    }
}
