@import "styles";

.CommentContainer {
    width: 100%;
}

.Title {
    @include text-headline;
    margin-bottom: 32px;
    color: $color-accent;
}

.Container {
    /*ширина контейнера чистая 728px*/
    max-width: 728px;
    width: 100%;
    margin: 0 auto;
}
