$color-primary: rgba(10, 10, 11, 1); /* #0A0A0B */
$color-secondary: rgba(98, 98, 106, 1); /* #62626A */
$color-alert: rgba(243, 32, 12, 1); /* #F3200C */
$color-success: rgba(11, 218, 98, 1); /* #0BDA62 */
$color-disabled: rgba(149, 149, 157, 1); /* #95959D */

$color-bg-primary: rgba(250, 250, 250, 1); /* #FAFAFA */
$color-bg-secondary: rgba(233, 233, 237, 1); /* #E9E9ED */

$color-accent: rgba(0, 0, 255, 1); /* #0000FF */
$color-devider: rgba(233, 233, 237, 1); /* #E9E9ED */
$color-input: rgba(244, 244, 246, 1); /* #F4F4F6 */

$color-background: rgba(229, 229, 229, 1); /* #E5E5E5 */
