@font-face {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono-Bold.ttf") format("ttf");
}
