@import "styles";

.ProfileFavorites {
  &_Navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid #DDDDE3;

    &Item {
      float: left;
    }

    &Link {
      display: block;
      padding: 0.5em 1em;
      border: none;
      border-bottom: 2px solid transparent;
      background: 0 0;
      color: $color-secondary;

      &__active {
        background: #fff;
        border-bottom: 2px solid $color-accent;
        color: $color-primary;
      }
    }
  }
}
