@import "styles";

.TabControls {
    ul {
        display: flex;
        height: 58px;
        border-bottom: 1px solid $color-devider;
    }

    li {
        padding: 16px 24px;
        height: 58px;
        background: 0 0;
        border: none;
        border-bottom: 2px solid transparent;

        &.active {
            border-bottom: 2px solid $color-accent;
            color: $color-primary;

            a {
                color: $color-primary;
            }
        }

        a {
            color: $color-secondary;
            transition: color 0.3s ease;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $color-primary;
            }
        }
    }
}
