@import "styles";

.Title {
    @include heading-h1;
    color: $color-primary;
}

.Paragraf {
    text-decoration: underline;

    &__isActive {
        text-decoration: unset;
    }
}

.text {
    @include text-default;
}