/*@import "../../styles/colors.scss";*/

/*$color-primary: #D71313FF;*/

.to-delete__title {
    margin: 40px 0;
    color: red;
    /*color: $color-primary !important;*/
}

.to-delete__list {
    padding-left: 20px;
}

.toDeleteTitle {
    color: green;
}
