@import "styles";

$height: 40px;

.Input {
    $this: &;
    @include text-default;
    display: flex;
    align-items: center;
    padding: 8px 56px 8px 16px;
    height: $height;
    width: 100%;
    color: $color-primary;
    background-color: $color-input;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: $shadow-input;
    outline: transparent;
    transition: all 0.15s ease;

    &Field {
        position: relative;
    }

    &Icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;

        &Element {
            height: $height;
        }

        svg {
            fill: rgba(0, 0, 0, 0.54);
        }

        &Alert {
            height: $height;

            svg {
                fill: transparent;
            }

            path {
                stroke: $color-alert;
            }
        }
    }

    &::placeholder {
        @include text-default;
        color: $color-secondary;
    }

    &:hover {
        background-color: $color-input;
    }

    &#{$this}__error {
        border: 1px solid $color-alert;

        &:hover {
            border: 1px solid $color-alert;
        }
    }
}

.Label {
    @include text-default;
    margin-bottom: 4px;
    margin-left: 16px;
    color: $color-primary;
}

.Error {
    @include text-default;
    margin-top: 4px;
    margin-left: 16px;
    color: $color-alert;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $color-input inset !important;
}
