@import "styles";

.Settings {
    margin-top: 48px;
}

.Container {
    /*ширина контейнера чистая 540px*/
    margin: 0 auto;
    padding: 0 15px;
    max-width: 570px;
    width: 100%;
}

.Title {
    @include heading-h2;
    text-align: center;
    margin-bottom: 40px;
    color: $color-primary;
}

.FormGroup {
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.Control {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    margin-bottom: 32px;
}

.Footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.Logout {
    @include text-link;
    position: relative;
    color: $color-alert;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.15s;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $color-alert;
    }

    &:hover {
        color: $color-primary;

        &::before {
            background-color: $color-primary;
        }
    }
}
